.dwrap_n .dbox_n {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    padding: 33px 40px 44px;
    overflow: hidden;
    min-width: 200px;
    min-height: 56px;
}

.dwrap_n .dbox_n {
    box-sizing: border-box;
    height: 100%;
}
.dbox_n.dbox_n_s:hover {
    background: #2496ff26;
}
.col10 {
    background-color: #56595a;
    border-color: #56595a;
}
#flash, #redflash {
    background-color: #a1d891;
    color: #7e5b14;
    font-size: large;
    text-align: center;
    padding: 16px;
}
#booking #errorExplanation h2 {
    display: none;
}
